* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mabry pro", sans-serif;
}

input[ng-disabled="true"] {
    cursor: not-allowed !important;
}

button[disabled="disabled"] {
    cursor: not-allowed !important;
}

.top-navbar {
    display: flex;
    list-style-type: none;
    margin: 5px 10px;
    padding: 3px 10px;
}

.top-navbar li {
    display: inline-block;
    margin: 15px 10px;
}

.top-navbar li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
}
