* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mabry pro", sans-serif;
}

input[ng-disabled="true"] {
    cursor: not-allowed !important;
}

button[disabled="disabled"] {
    cursor: not-allowed !important;
}

.top-navbar {
    display: flex;
    width: 100%;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 30px;
    border-bottom: 4px solid black;
}

.top-navbar li {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.05em;
    margin: 30px 0 0;
}

.top-navbar li a{
    text-decoration: none;
    color: black;
    border-left: 4px solid black;
    padding: 27px 70px;
}

.top-navbar li a:hover {
    background-color: #FF90E8;
}

#title-header {
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.1em;
    transform: translateY(-10px);
}

#logout-button {
    transform: translateY(-5px);
}

.bx-log-out-circle {
    font-size: 1.5rem;
}

#login-title {
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 50px 0;
    padding: 10px 0;
}

.login-form {
    transform: translateY(10%);
}

.login-form-layout {
    border-left: 4px solid black;
    background-color: #FFC900;
    height: 100vh;
    width: 100%;
}

.first-row {
    border-bottom: 4px solid black;
}

.username-password-label {
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.05em;
    margin: 20px 0;
}

#username, #password, #firstname, #lastname, #email, #confirm-password {
    border-radius: 10px !important;
    border: 3px solid black;
    background-color: white;
}

input[type="submit"], input[type="submit"]:focus, input[type="submit"]:active {
    background: #23A094;
    border: 3px solid #000000;
    box-shadow: 5px 5px 0px #000000;
    border-radius: 10px;
    width: 100%;
}

input[type="submit"]:hover{
    background: #FF90E8;
    border: 3px solid #000000;
    color: black;
}

.landing-page-intro {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* flex-wrap: wrap; */
    height: 100vh;
    width: 100%;
}

.landing-page-backdrop {
    height: 100vh;
    width: 100%;
    /* background: radial-gradient(circle, transparent 25%, #ffffff  26%),linear-gradient(45deg, transparent 46%, #000000 47%, #000000 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #000000 47%, #000000 52%, transparent 53%);
        background-size: 5em 5em;
        background-color: #ffffff;
        opacity: 0.7; */

    background: radial-gradient(circle, transparent 25%, #ffffff  26%),linear-gradient(45deg, transparent 46%, #000000 47%, #000000 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #000000 47%, #000000 52%, transparent 53%);
    background-size: 1em 1em;
    background-color: #ffffff;
    opacity: 0.85;
    z-index: -1;
}

.text-container {
    position: absolute;
    top: 350px;
    left: 100px;
    text-align: center;
    margin: 50px auto;
    width: 75%;
    background: #FFFFFF;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000000;
}

.text-layout {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.1em;
}

.first-note {
    width: 223px;
    height: 220px;
    left: 740px;
    top: 192px;
    background: #FF90E8;
}

.second-note {
    width: 246px;
    height: 233px;
    left: 70px;
    top: -10px;
    background: #FFC900;
}

/* .third-note {
    left: 675px;
    top: 544px;
    width: 226px;
    height: 213px;
    background: #f1f333;
}

.fourth-note {
    left: 645px;
    top: 774px;
    width: 266px;
    height: 213px;
    background: #FF90E8;
}

.fifth-note {
    width: 226px;
    height: 213px;
    left: 255px;
    top: 754px;
    background: #f1f333;
} */

.first-task {
    width: 239px;
    height: 235px;
    left: -6px;
    top: 609px;
    background: #23A094;
}

/* .second-task {
    width: 128px;
    height: 121px;
    left: 499px;
    top: 530px;
    background: #FFC900;
}

.third-task {
    width: 128px;
    height: 141px;
    left: 499px;
    top: 670px;
    background: #23A094;
} */

.fourth-task {
    width: 248px;
    height: 256px;
    left: 577px;
    top: 751px;
    background: #E2442F;
}

/* .fifth-task {
    width: 220px;
    height: 175px;
    left: 15px;
    top: 340px;
    background: #FFC900;
}

.sixth-task {
    width: 220px;
    height: 175px;
    left: 15px;
    top: 540px;
    background: #FF90E8;
}

.seventh-task {
    width: 250px;
    height: 195px;
    left: -10px;
    top: 740px;
    background: #23A094;
}

.eight-task {
    width: 128px;
    height: 161px;
    left: 730px;
    top: 360px;
    background: #E2442F;
}

.ninth-task {
    width: 128px;
    height: 161px;
    left: 870px;
    top: 300px;
    background: #FFC900;
} */

.image-layout {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid black;
}

.image-layout:hover {
    box-shadow: 5px 5px 0px #000000;
}

.image-layout #image-title {
    font-weight: 500;
}

.image-layout #content {
    text-align: center;
}

.sign-up-here-layout {
    position: relative;
    width: 100%;
    background-color: #FF90E8;
    overflow: hidden;
}

.sign-up-here-layout h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0.1em;
}

.sign-up-here-layout a {
    display: inline-block;
    width: 299px;
    height: 48px;
    background: #23A094;
    border: 3px solid #000000;
    box-shadow: 5px 5px 0px #000000;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin: 15px auto;
}

.sign-up-here-layout a:hover {
    text-decoration: none;
    color: black;
    background: #FFC900;
}

.sign-up-here-image-layout {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid black;
}

.sign-up-here-image-layout hr {
    width: 80%;
    border: 2px solid black;
}

#sign-up-here-image-title {
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.05em;
}

.sign-up-here-first-note {
    width: 299px;
    height: 294px;
    left: 1700px;
    top: 243px;
    background: #23A094;
}

.sign-up-here-second-note {
    width: 199px;
    height: 194px;
    left: 838px;
    top: 817px;
    background: #FFC900;
}

.sign-up-here-third-note {
    width: 268px;
    height: 257px;
    left: -55px;
    top: 197px;
    background: #FFC900;
}

.sign-up-here-first-task {
    width: 268px;
    height: 257px;
    left: 1569px;
    top: 730px;
    background: #E2442F;
}

.sign-up-here-second-task {
    width: 268px;
    height: 257px;
    left: 29px;
    top: 751px;
    background: #FFFFFF;
}

#register-title {
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0.05em;
}

.register-page-layout {
    position: relative;
    background: #FFC900;
    height: 100vh;
}

.register-page-layout label {
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.05em;
}

.back-button {
    position: absolute;
    display: inline-block;
    top: 180px;
    right: 250px;
    color: black;
    border: 3px solid black;
    padding: 0.7em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 0px #000000;
    background-color: #FF90E8;
}

.back-button:hover {
    background: #23A094;
}

.back-button a {
    color: black;
    text-decoration: none;
}

.back-button a:hover {
    color: inherit;
}

.back-button a i {
    font-size: 1.5rem !important;
}

@media(max-width: 1200px) {
    .text-container {
        left: 70px;
        top: 250px;
    }
    .first-note {
        left: 400px;
        top: 50px;
    }
    .second-note {
        left: -10px;
    }
    .fourth-task {
        left: 360px;
        top: 651px;
    }
    .sign-up-here-first-note {
        left: 1015px;
    }
}

@media(max-width: 992px) {
    .sign-up-here-first-note {
        left: 850px;
    }
    .sign-up-here-second-note {
        left: 438px;
    }
    .sign-up-here-first-task {
        left: 769px;
    }
    .text-container {
        left: 60px;
        top: 250px;
    }
    .first-note {
        left: 290px;
        top: -10px;
    }
    .second-note {
        left: -10px;
        top: 15px;
    }
    .fourth-task {
        left: 240px;
        top: 651px;
    }
    .first-task {
        left: -30px;
    }
}

@media(max-width: 768px) {
    /* .landing-page-intro {
        height: 15vh;
    } */
    .login-form {
        transform: translateY(-10%);
    }
    /* .text-container {
        margin: 5px auto;
    } */
    .login-form-layout {
        border: 4px solid black;
        border-bottom: 0;
    }
    .sign-up-here-first-note {
        left: 615px;
    }
    .sign-up-here-second-task {
        left: -9px;
    }
    .sign-up-here-third-note {
        left: -125px !important;
    }
    .sign-up-here-layout {
        border: 4px solid black;
        border-top: 0;
    }
    .landing-page-intro {
        border: 4px solid black;
        border-top: 0;
        border-bottom: 0;
    }
    .text-container {
        left: 100px;
        top: 250px;
    }
    .first-note {
        left: 560px;
    }
    .fourth-task {
        left: 520px;
    }
}

@media(max-width: 576px) {
    .sign-up-here-first-note {
        left: 415px;
        top: -10px;
    }
    .sign-up-here-third-note {
        left: -165px !important;
    }
    .sign-up-here-layout {
        border: 4px solid black;
        border-top: 0;
    }
    .landing-page-intro {
        border: 4px solid black;
        border-top: 0;
        border-bottom: 0;
    }
    .text-container {
        left: 70px;
    }
    .first-note {
        left: 360px;
    }
    .fourth-task {
        left: 330px;
    }
}
