<div class="create-note-container d-flex flex-column justify-content-center align-items-center p-5">
    
    <!-- <div ng-if="noteErrorMessage" class="alert alert-danger alert-dismissible fade show w-50" role="alert" id="note-error">
      {{ noteErrorMessage }}
    </div> -->

    <form ng-submit="createNote()" class="create-note-form w-75 p-5">
        
        <div class="d-flex justify-content-center align-items-center" aria-live="polite" aria-atomic="true" style="position: relative;">
            <div ng-if="noteErrorMessage" ng-class="{'toast show': true, 'hide': noteErrorMessage == null}" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="mr-auto">Error</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body">
                {{ noteErrorMessage }}
              </div>
            </div>
        </div>

        <h2 class="text-center create-note-title">Create new note</h2>
        <div class="form-group">
          <label for="title">Title</label>
          <input ng-model="newNote.title" type="text" class="form-control" id="title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea ng-model="newNote.content" class="form-control" id="content" placeholder="Enter content"></textarea>
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <select ng-model="newNote.color" id="color" class="form-control">
            <option value=""></option>
            <option value="Green">Green</option>
            <option value="Pink">Pink</option>
            <option value="Red">Red</option>
            <option value="White">White</option>
            <option value="Yellow">Yellow</option>
          </select>
        </div>
        <div class="d-flex justify-content-sm-center justify-content-md-end">
            <button type="submit" class="btn btn-primary ml-1">Save</button>
            <button ng-click="cancel()" class="btn btn-danger ml-1">Cancel</button>
        </div>
      </form>
      
</div>