<div class="create-task-container d-flex flex-column justify-content-center align-items-center p-5 border">
    
    <div ng-if="errorMessage" class="alert alert-danger alert-dismissible fade show w-50" role="alert" id="task-error">
      {{ errorMessage }}
    </div>

    <form ng-submit="createTask()" class="w-75 p-5 create-task-form">
        <h2 class="text-center create-task-title">Create new task</h2>
        <div class="form-group">
          <label for="title">Title</label>
          <input ng-model="newTask.title" type="text" class="form-control" id="title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea ng-model="newTask.description" class="form-control" id="description" placeholder="Enter description"></textarea>
        </div>
        <div class="form-group">
          <label for="deadline">Deadline</label>
          <input ng-model="newTask.deadline" type="date" class="form-control" id="deadline"></input>
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <select ng-model="newTask.color" id="color" class="form-control">
            <option value=""></option>
            <option value="Green">Green</option>
            <option value="Pink">Pink</option>
            <option value="Red">Red</option>
            <option value="White">White</option>
            <option value="Yellow">Yellow</option>
          </select>
        </div>
        <div class="d-flex justify-content-sm-center justify-content-md-end">
            <button type="submit" class="btn btn-primary ml-1">Save</button>
            <button ng-click="cancel()" class="btn btn-danger ml-1">Cancel</button>
        </div>
      </form>
      
</div>