<div class="d-flex flex-column justify-content-center align-items-center p-5 m-5 border">
    <h2>Create new note</h2>
    
    <div ng-if="noteErrorMessage" class="alert alert-danger alert-dismissible fade show w-50" role="alert" id="note-error">
      {{ noteErrorMessage }}
    </div>

    <!-- <span class="text-danger" ng-show="errorMessage">{{ errorMessage }}</span> -->

    <form ng-submit="createNote()" class="w-50">
        <div class="form-group">
          <label for="title">Title</label>
          <input ng-model="newNote.title" type="text" class="form-control" id="title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea ng-model="newNote.content" class="form-control" id="content" placeholder="Enter content"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary ml-1">Save</button>
            <button ng-click="cancel()" class="btn btn-danger ml-1">Cancel</button>
        </div>
      </form>
      
</div>