<div class="d-flex flex-column justify-content-center align-items-center p-5 m-5 border">

    <div ng-if="noteErrorMessage" class="alert alert-danger alert-dismissible fade show w-50" role="alert" id="alert-error">
      {{ noteErrorMessage }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div ng-if="noteDoesNotExistError" class="alert alert-danger alert-dismissible fade show w-50" role="alert" id="note-does-not-exists-error">
      {{ noteDoesNotExistError }}
    </div>

    <form class="w-50">
        <div class="form-group">
          <label for="title">Title</label>
          <input ng-model="specificNote.title" type="text" class="form-control" id="title" ng-readonly="readOnly">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea ng-model="specificNote.content" class="form-control" id="description" placeholder="Enter content" ng-readonly="readOnly"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button ng-click="toggleReadOnly()" class="btn btn-success ml-1">Edit</button>
            <button ng-click="updateNote(specificNote.id)" type="submit" class="btn btn-primary ml-1" ng-disabled="readOnly">Save</button>
            <button ng-click="goBackToPreviousRoute()" class="btn btn-danger ml-1">Cancel</button>
        </div>
      </form>
</div>

