<div class="d-flex flex-column justify-content-center align-items-center register-page-layout position-relative">

    <div ng-if="errorMessage" class="toast-alert toast-alert-warning" ng-class="{'toast show': true, 'hide': errorMessage == null}" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header toast-header-warning">
          <strong class="mr-auto">Error</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          {{ errorMessage }}
        </div>
    </div>

    <div class="d-flex justify-content-end w-75">
        <span class="align-self-end back-button" title="Back"><a href="#!/"><i class='bx bx-arrow-back'></i></a></span>
    </div>
    
    <!-- <div class="d-flex justify-content-center align-items-center" aria-live="polite" aria-atomic="true" class="position-relative">
        <div ng-if="errorMessage" class="toast-alert toast-alert-warning" ng-class="{'toast show': true, 'hide': errorMessage == null}" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header toast-header-warning">
            <strong class="mr-auto">Error</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            {{ errorMessage }}
          </div>
        </div>
    </div> -->

    <h2 id="register-title">Register here</h2>

    <form ng-submit="registerUser()" name="registerForm" class="w-75" novalidate>
        <div class="row">
            <div class="form-group col">
                <label for="firstname">Firstname</label>
                <input ng-model="register.firstName" type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter first name">
            </div>
            <div class="form-group col">
                <label for="lastname">Lastname</label>
                <input ng-model="register.lastName" type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter last name">
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="email">email</label>
                <input ng-model="register.email" type="email" class="form-control" name="email" id="email" placeholder="Enter valid email">
            </div>
            <div class="form-group col">
                <label for="username">Username</label>
                <input ng-model="register.username" type="text" class="form-control" name="username" id="username" placeholder="Enter username">
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="register.password" type="password" class="form-control" name="password" id="password" placeholder="Enter password">
        </div>

        <div class="form-group">
            <label for="confirm-password">Confirm password</label>
            <input ng-model="register.confirmPassword" type="password" class="form-control" name="confirm-password" id="confirm-password" placeholder="Confirm password">
        </div>
        
        <input type="submit" class="btn btn-primary w-100" value="Create account">
    </form>
</div>