<div class="row">
    <div class="col-3 mx-2 px-4" ng-repeat="task in tasks">
        <h5>{{ task.attributes.title }}</h5>
        <p>{{ task.attributes.description }}</p>
        <p>{{ task.attributes.status }}</p>
        <p>Deadline: <time>{{ task.attributes.deadline }}</time></p>
        <p>Created: <time>{{ task.attributes.created }}</time></p>
        <p>Last modified: <time>{{ task.attributes.modified }}</time></p>
        <p>Active: {{ task.attributes.is_active }}</p>
    </div>
</div>
<div class="d-flex justify-content-end">
    <a href="#">+</a>
</div>