<div class="users-container">

    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div ng-if="successMessage" class="toast-alert toast-alert-success" ng-class="{'toast show': true, 'hide': successMessage == null}" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header toast-header-success">
            <strong class="mr-auto">Success</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{ successMessage }}
        </div>
        </div>

        <div ng-if="errorMessage" class="toast-alert toast-alert-warning" ng-class="{'toast show': true, 'hide': errorMessage == null}" role="alert" style="position: absolute; top: 10px; right: 10px; z-index: 1;" aria-live="assertive" aria-atomic="true">
        <div class="toast-header toast-header-warning">
            <strong class="mr-auto">Error</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{ errorMessage }}
        </div>
        </div>
    </div>
    
    <div class="row px-3 mx-3">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-repeat="user in users">
            <div class="card-layout my-4 mx-2 p-4 ">
                <h2>{{ user.attributes.username }}</h2>
                <p>Fullname: {{ user.attributes.first_name }} {{ user.attributes.last_name }}</p>
                <p>Email: {{ user.attributes.email }}</p>
                <p>Admin: {{ user.attributes.is_superuser }}</p>
        
                <button ng-show="user.attributes.is_superuser == false" ng-click="setAsAdmin(user.id)" class="btn btn-primary" title="Set user as admin"><i class='bx bx-user-plus'></i></button>
        
                <button ng-show="user.attributes.is_superuser == true && user.attributes.username != 'edmar'" ng-click="setAsNormalUser(user.id)" class="btn btn-info" title="Set as normal user"><i class='bx bx-user-x'></i></button>
            </div>
            
        </div>
    </div>
</div>
